:root{

    --bs-font1:arial; 
    --bs-font2:'Vazirmatn', sans-serif;
    --bs-font3:'Noto Nastaliq Urdu', serif;


  --bs-green: #198754;

  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}


  @import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Nastaliq+Urdu&family=Vazirmatn&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: var(--bs-font1);
}

.bgnav{
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 280px;
  z-index: -1 !important;
  position: relative;
}

.bgnav2{
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 280px;
  z-index: -1 !important;
  position: relative;
}


@media only screen and (max-width: 460px) {

  .bgnav{
    object-fit: contain !important;
    object-position: top !important;
    height: 160px !important;
  }

  .bgnav2{
    object-fit: contain !important;
    object-position: top !important;
    height: 160px !important;
  }

  .navnav,
  .navnav2{

    top: 15px !important;
  }


}

@media only screen and (max-width: 769px) {

  .bgnav,
  .bgnav2{

    object-position: top !important;
    height: 200px;
  }

  .navnav,
  .navnav2{
    top: 15px !important;
  }


}

.navnav,
.navnav2{
  position: absolute;
  top: 30px;
}





#navbarr a{
    font-size: 24px;
}


#navbarSupportedContent li{
  margin-left: 15px;
  text-align: center;
  width: max-content;
  transition: border 300ms ease;
}

#navbarSupportedContent:active{
  outline-offset: none;
  
}


#navbarSupportedContent li:hover{
  border-bottom: 1px solid var(--bs-dark);
}


#logo{
  border-radius: 50%;
  width: 140px;
  height: 140px;
  border: none;
  
}

#txtlogo{
  font-size: 16px !important;
  font-family: var(--bs-font3);
}


#sec-2{
  padding: 80px 0;
}

#sec-2 h1{
  margin-bottom: 50px;
  font-family: var(--bs-font1);
}

#sec-2 p{
  margin-bottom: 20px;
  font-family: var(--bs-font2);
  font-size: 26px;
}

#bt1, #bt2{
  padding: 15px 30px;
 border-radius: 40px;
 margin-left: 10px;
 font-family: var(--bs-font2);
}

#sec4-left{
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    object-position: center;
    margin-bottom: 50px;
  background-image: url(Pic/pic1.jpg);
  
}

#sec4-right p{
font-family: var(--bs-font2);
line-height: 38px;
}

#vije p{
  font-family: var(--bs-font2);
}

#left,#right{
  width: 40px;
  height: 40px;
  margin: auto;
}

.typo{
  font-family: var(--bs-font2);
}


/* contact CSS*/

.form{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 40%;
}

form{
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 8px;
  border: 1px solid white;
}
fieldset{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: space-evenly;
padding-bottom: 80px;
}



/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
font-size: 100%;
color: inherit;
border: none;
outline: none;
border-radius: 0;
display: block;
width: 100%;
padding: 0;
margin: 0;
font-weight: 600;

}
form label,
form legend {
font-size: 16px;
margin-bottom: 0.5rem;
color: white;
text-align: right;
margin-bottom: 50px;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
box-sizing: border-box;
padding: 0.75em 1rem;
margin-bottom: 1.5rem;
font-size: 14px;
border-radius: 3px;

}

.con, form{
background-color: #08522f;
}
.con{
  padding: 70px 0;
  font-family: var(--bs-font2);
}

form input, form textarea{
  border-bottom: 2px solid white;
  border-radius: 5px;
  resize: none;
  color: white;
  background-color: #68c59a80;

}

form input::placeholder , form textarea::placeholder{
  color: rgba(255, 255, 255, 0.50);
}



form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
border: none;
outline: none;
}
form [type="text"],
form [type="email"],
.StripeElement {
width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
width: auto;
cursor: pointer;
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
outline: none;
}

form select {
text-transform: none;
}


#my-form-status{
  width: 90%;
  max-width: 200px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin: 0 auto;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 10px;
    }

    #my-form-status.success {
      background-color: rgb(193, 255, 101);
      animation: status 4s ease forwards;
    }
    #my-form-status.error {
      background-color: rgb(250, 129, 92);
      color: white;
      animation: status 4s ease forwards;
    }
    @keyframes status {
      0% {
        opacity: 1;
        pointer-events: all;
      }
      90% {
        opacity: 1;
        pointer-events: all;
      }
      100% {
        opacity: 0;
        pointer-events: none;
      }
    }


    @media only screen and (max-width: 560px) {
  
      form{
        margin: 0 auto;
        width: 100% !important;
       }
      
       #navbarr a{
        font-size: 16px;
    }
      
      }


      @media only screen and (max-width:990px){
        .contact{
         flex-direction: column !important;
        }
        #form-cont{
         padding: 0 !important;
        }
     
        .form{
         margin: 0 auto;
        }
     
        #navbarSupportedContent li{
          margin-left: 0px !important;
        }
        
     }



     .social-bottom, .social-bottom2{
      border: 1px solid black;
      padding: 50px 0;
      border-radius: 5px;
      font-family: var(--bs-font2);
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 768px) {
  

    .social-bottom a:nth-child(1){
      margin-bottom: 100px;
    }

    #logo{
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }

    #navbarSupportedContent2{

    top: 55px;
    }

    iframe{
      height: 300px;
    }
  }

  @media only screen and (max-width: 426px) {

    #txt a, #txt span{
      font-size: 14px;
    }

    #txt p{
      font-size: 11px;
    }

    #sec4-left{

      background-repeat: no-repeat;
      background-size:fill;
      object-fit: fill;
      object-position: right;
    }

    form{
      padding: 20px 3px;

    }

  }
    .topic{
      font-family: var(--bs-font2);
    }

    #footer{
      font-family: var(--bs-font2);
    }

    .txt-con{
      font-family: var(--bs-font2);
    }



    /* menu */
  
  @media only screen and (max-width:758px) {
    .button-group{
      display: flex;
      justify-content: safe;
      position: sticky;
      align-items: center;
      top: 20px;
      z-index: 1;
      padding-top: 8px;
      background-color: #0000003b;
    }
  
    .button{
      font-size: 12px !important;
    }

    .foot{
      background-size: contain !important;
      object-position: center !important;
      height: 100% !important;
    }


  }
  
  
  
  @media only screen and (max-width:580px){
    .button-group{
      display: flex;
      flex-wrap: wrap;
    }


    .bb{
      font-size: 20px !important;
      border-radius: 40px !important;
      padding: 6px 5px !important;
     }

     .carousell::before {
      top: -420% !important;
      
    }
    
    .carousell::after {
      bottom: -420% !important;
    }


    .carousell {
      height: 60vh !important;
    }


    .carousell::before,
      .carousell::after {
        height: 450% !important;
      }

      #sec-2{
        padding: 50px 0;
      }



      #logo{
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
  
      #ss{
        font-size: 7px !important;
      }


      .element-item a{
      
        font-size: 14px !important;
      
      }

      .element-item span{
      
        font-size: 12px !important;
      
      }


      #sec-2 p{
        font-size: 18px;
        
      }

      #sec-2{
        margin-bottom: 20px;
        border-bottom: 1px solid var(--bs-gray-700);
      }

      #menimg img{

        height: 50vh !important;
      }


  }
  
  @media only screen and (max-width:990px){
  
    #nav{
      position: sticky !important;
      width: 100%;
      height: 80px;
     }
  
     
  
     .grid {
       width: 100% !important;
       align-items: center !important;
       
     }
  
  
  }
  
  
        /* ---- button ---- */
        
        .button {
          display: inline-block;
          padding: 10px 18px;
          margin-bottom: 10px;
          border: none;
          background-color: inherit;
          background-color:#08522f;
          color: white;
          font-family: var(--bs-font2);
          font-size: 16px;
          cursor: pointer;
          border-radius: 5px !important;
        }
        
        
        
        .button:active,
        .button.is-checked {
          border: 2px solid rgb(255, 98, 0);
          border-radius: 3px !important;
        }
        
        .button.is-checked {
          color: white;
          text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
        }
        
        .button:active {
          box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
        }
        
        /* ---- button-group ---- */
        
        .button-group:after {
          content: '';
          display: block;
          clear: both;
        }
        
        .button-group{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          font-family: var(--bs-font2);
          
        }
  
  
        .button-group .button {
          float: left;
          border-radius: 0;
          margin-left: 0;
          margin-right: 5px;
        }
        

        /* ---- isotope ---- */
        
        .grid {
         display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
        }
        
        /* clear fix */
        .grid:after {
          content: '';
          display: flex;
          clear: both;
        }
        
        /* ---- .element-item ---- */
        
        .element-item {
          position: relative;
          display:  flex;
          padding: 0px;
          color: #262524;
        }
        .element-item img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        
        .element-item > * {
          margin: 0;
          padding: 0;
        }
  
       .element-item p{

        font-family: var(--bs-font2);
       }

       .bb{
        font-size: 30px;
        border-radius: 50px ;
       }

       .bbb{
        font-size: 20px;
        border-radius: 30px ;
       }


       .containerr .roww{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        }
        
        .scroll-snap{
        max-width: 850px;
        height: 450px;
        margin: 0 auto;
        }
        
        
        
        
        .sec img{
        max-width: 100%;
        object-fit: cover;
        object-position: center center;
        }
        
        .scroll-snap{
        overflow: auto;
        scroll-snap-type:y mandatory;
        height: 400px;
        cursor:grab;
        max-width: 850px;
        }
        
        
        .sec{
        display: flex;
        align-items: center;
        justify-content: center;
        
        }


      
      ol,
      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .carousell {
        position: relative;
        width: 100%;
        height: 100vh;
        perspective: 100px;
        overflow: hidden;
      }
      
      .carousel__viewport {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        display: flex;
        overflow-x: scroll;
        counter-reset: item;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
      }
      
      .carousell::before,
      .carousell::after {
        content: "";
        position: absolute;
        z-index: 2;
        left: 50%;
        translate: -50% 0;
        width: 500%;
        height: 500%;
        border-radius: 50%;
        background: #ffffff;
      }
      
      .carousell::before {
        top: -466%;
        
      }
      
      .carousell::after {
        bottom: -466%;
      }
      
      .carousel__slide {
        position: relative;
        flex: 0 0 40%;
        width: 33.33%;
        counter-increment: item;
        background-color: white;
      }
      
      .carousel__slide:before {
        content: counter(item);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -40%, 70px);
      }
      
      .carousel__snapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        scroll-snap-align: center;
        background-size:contain;
        background-position: 50%;
        background-repeat: no-repeat;
      }

      .foot{
        background-image: url(Pic/barg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        height: 400px;
        flex-wrap: wrap;
      }


      #ss{
        font-size: 12px;
      }


      .element-item a{
      
        font-size: 18px;
      
      }

      .element-item span{
      
        font-size: 14px;
      
      }

      .element-item p{
        font-size: 10px !important;

      }


      #menimg img{
        object-position: center;
        object-fit: contain;
        height: 80vh;
      }

     